*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

* {
    -webkit-tap-highlight-color: transparent;
}

html{
    height: 100%;
    display: grid;
    place-items: center;
}

body{
    background-image: linear-gradient(to right top,rgb(29, 29, 29) 50%, grey);
     user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

::-webkit-scrollbar {
    width: 6px;
  }
  
::-webkit-scrollbar-track {
    background: transparent; 
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

@font-face{
    font-family: Yas;
    src: url(./Yas.ttf);
}

.calculator{
    border-radius: 15px;
    position: relative;
    width: 25rem;
    height: 37rem;
    padding: 3px;
    display: grid;
    background-color: #fff;
    grid-template-columns: repeat(4, 5.5rem);
    justify-content: center;
    justify-items: center;
    align-content: start;
}

.result{
    padding-top: 1rem;
    justify-self: stretch;
    grid-column: 1 / -1;
    height: 7rem;
    margin-bottom: .8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    padding-inline: 1rem;
    font-family: 'Yas', sans-serif, serif;
}

.tools{
    justify-self: stretch;
    grid-column: 1 / -1;
    height: 1rem;
    margin-bottom: 2rem;
    direction: rtl;
    margin-inline: 1.5rem;
    height: 2rem;
    border-bottom: 1px solid rgb(214, 214, 214);
}

.button{
    border-radius: 50%;
    outline: 0;
    border: 0;
    width: 4.5rem;
    height: 4.5rem;
    margin-block: 3px;
    cursor: pointer;
    font-size: 1.8rem;
    font-family: 'Yas', sans-serif, serif;
    background-color: rgb(242, 242, 242);
    transition: .1s;
    color: rgba(0, 0, 0, 0.7);
    position: relative;
}

.clear-all{
    color: red;
}

.operator, .equal{
    color: rgb(0, 172, 0);
    font-size: 1.7rem;
}


.percent{
    font-size: 1.4rem;
}

.equal{
    background-color: rgb(62, 199, 20);
    color: #fff;
}

.button:hover{
    background-color: #fff;
}

.button.active, .button:active{
    background-color: rgb(180, 180, 180);
    font-size: 1.1em;
}


.equal:hover{
    background-color: rgb(48, 163, 13);
}

.equal:active{
    background-color: rgb(35, 105, 14);
}

.delete{
    width: 1.8rem;
    height: 1.8rem;
    margin: 0;
    background-color: transparent;
    color: rgba(0, 172, 0, .25);
    font-size: 1.3rem;
    display: grid;
    place-items: center;
}

.delete:disabled{
    background-color: transparent;
}

@media (max-width:28rem){
    .calculator{
        width: 100vw;
        height: 100vh;
        justify-content: center;
    }
    html{
        display: block;
    }
}

.result-large{
    height: 2.4em;
    line-height: 1.1em;
    text-align: right;
    /* font-size: 1.8rem; */
    color: rgb(70, 70, 70);
    word-break: break-all;
    overflow: auto;
    max-height: calc(6  ex + 1rem);
    transition: font-size .3s;
}

.result-small{
    color: rgba(70, 70, 70, 0.4);
    word-break: break-all;
}

.result-small span.move{
    animation: result-show .5s linear forwards;
}


@keyframes result-show {
    0%, 100%{
        transform: none;
    }
    50%{
        font-size: 1.8rem;
        color: rgb(0, 172, 0);
        transform: translateY(-4.8rem);
    }
}

.paranthesis{
    color: rgb(0, 172, 0);
}

.info{
    position: absolute;
    visibility: hidden;
    opacity: 0;
    top: 100%;
    left: 0;
    transform: translateX(-50%);
    box-shadow: 0 2px 10px -2px darkgrey;
    color: #000;
    font-size: .8rem;
    z-index: 10;
    background-color: rgb(250, 250, 250);
    border-radius: 20px;
    padding: 5px;
    transition: .3s;
    pointer-events: none;
}

.clear-all .info{
    transform: translateX(0);
}

.equal .info{
    top: auto;
    bottom: 100%;
}

.result-large span{
    color: rgb(0, 172, 0);
}